body{
    margin: 0;
}

#header {
    background-color: aqua;
    margin: auto;
    padding: auto;

       
        margin: 0px;
        /* margin: 10px 30px; */
        /* 시계방향 */
        /* margin: 10px 20px 30px 40px;  */
        /* margin-left: 10px;
        margin-right: 20px;
        margin-top : 30px;
        margin-bottom: 40px; */

        /* padding: 10px; */
            /* padding: 10px 30px; */
            /* 시계방향 */
            /* padding: 10px 20px 30px 40px; */
            /* padding-left: 10px;
            padding-right: 20px;
            padding-top : 30px;
            padding-bottom: 40px; */
    }

#container {background-color: yellowgreen
}

#footer {background-color: coral
}